.hero {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
     
  }
  
  .card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(255, 228, 196, 0.375);
    min-width: fit-content;
    margin-top: 20rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: rgb(104, 138, 1);
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    text-decoration: none;
   
    color: rgb(104, 138, 1);
  }